In [1]:
import pandas as pd

In [8]:
Db = pd.read_csv("DadosB.csv", index_col='Date', parse_dates=True)

Db.head(5)

,Company,Sector,Open,High,Low,Close,Volume,Market_Cap,PE_Ratio,Dividend_Yield,Volatility,Sentiment_Score,Trend
Date,,,,,,,,,,,,,
2022-01-01,Uber,Technology,100.000000,101.036120,97.477809,100.000000,171958,5.156585e+11,24.253218,0.163090,0.047484,0.939232,Bearish
2022-01-02,Tesla,Automotive,100.071106,102.037960,97.152675,100.071106,196867,9.755658e+11,18.602848,0.288515,0.022472,0.469417,Bearish
2022-01-03,Panasonic,Finance,99.857828,101.517497,98.108097,99.857828,181932,4.595300e+11,10.728933,2.221827,0.019991,0.399193,Bullish
2022-01-04,Tencent,Automotive,98.851663,101.303783,96.998218,98.851663,153694,5.577481e+11,14.582696,1.377740,0.036166,0.705853,Stable
2022-01-05,Wells Fargo,Automotive,98.391118,99.990486,96.230707,98.391118,169879,8.607714e+11,37.491114,3.110198,0.034770,-0.768354,Stable

In [10]:
Db.groupby("Sector")

In [11]:
sector = Db.groupby("Sector")

In [12]:
len(sector)

7

In [23]:
sector.size()
#sector.get_group("Finance").head(5)

Sector
Aerospace         146
Automotive        145
Consumer Goods    143
Energy            140
Finance           128
Healthcare        152
Technology        146
dtype: int64

In [24]:
Db["Sector"].value_counts()

Sector
Healthcare        152
Aerospace         146
Technology        146
Automotive        145
Consumer Goods    143
Energy            140
Finance           128
Name: count, dtype: int64

In [40]:
Db.loc[Db["Sector"] == "Finance", "Trend"].value_counts()

Trend
Bullish    49
Stable     42
Bearish    37
Name: count, dtype: int64